<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-2 fw-bold ">Alpha Blog</h1>
    <p class="lead fw-bold">My first Rails project</p>
    <p class="lead display-7">In this project I've learned how to use DB, git, boottrap and more...</p>
    <hr class="my-4">
    <p>See more in the git repository</p>
    <p><a href="https://github.com/Mark1550/alpha-blog">The git repository</a></p>
    <%= link_to "Sign up!", signup_path, class:"btn btn-success"%>
    </div>
</div>
