<h1 class="text-center mt-4">Edit category</h1>
<%= render 'form' %>
<div class="mb-3">
    <%= link_to '[Back to category]', category_path(@category), class: "d-flex justify-content-center text-info" %>
</div>