<h1 class="text-center mt-4">Create a new category</h1>
<%= render 'form' %>
<div class="mb-3">
    <%= link_to '[Back to categories list]', categories_path, class: "d-flex justify-content-center text-info" %>
</div>